<h2>Single Date Selection With Date Restrictions</h2>
<p>Kalendae can be configured to only allow start date to be greater than equal to today. The end date can also be restricted to be greater than equal to start date.</p>

<p>The example below takes advantage of Kalendae's <code>blackout</code> and Ember's closured actions to achieve this behavior.</p>

<h3>In Action</h3>
<form>
  <div class="inline-parent">
    <fieldset class="inline-child">
      <label for="startDate">Start Date</label>
      {{input
        placeholder="Click to select start date"
        focus-in=(action "showCalendar" "startDatePicker")
        focus-out=(action "hideCalendar" "startDatePicker")
        value=selectedStartDateFormatted
        readonly=true
        id="startDate"
      }}
      {{#if startDatePicker}}
        {{ember-kalendae
          onDidChange=(action "onStartDateDidChange")
          selected=selectedStartDate
          class="float-calendar"
          blackout=(action "isStartDateBlocked")
        }}
      {{/if}}
    </fieldset>

    <fieldset class="inline-child">
      <label for="endDate">End Date</label>
      {{input
        placeholder="Click to select end date"
        focus-in=(action "showCalendar" "endDatePicker")
        focus-out=(action "hideCalendar" "endDatePicker")
        value=selectedEndDateFormatted
        readonly=true
        id="endDate"
      }}
      {{#if endDatePicker}}
        {{ember-kalendae
          onDidChange=(action "onEndDateDidChange")
          selected=selectedEndDate
          class="float-calendar"
          blackout=(action "isEndDateBlocked")
        }}
      {{/if}}
    </fieldset>
  </div>
</form>

<h3>Code Example</h3>
<p class="message green"><b>Controller.js</b></p>
{{ember-gisty user="shak" gist="d4734a52bf255f6def415ac437ef52b5" filename="controller.js"}}

<p class="message blue"><b>Template.hbs</b></p>
{{ember-gisty user="shak" gist="d4734a52bf255f6def415ac437ef52b5" filename="template.hbs"}}