<h2>Single Date Selection</h2>
<p>Kalendae can be configured to pick a single date from each instance. This can be used to pick a start and end date.</p>

<h3>In Action</h3>
<form>
  <div class="inline-parent">
    <fieldset class="inline-child">
      <label for="startDate">Start Date</label>
      {{input
        placeholder="Click to select start date"
        focus-in=(action "showCalendar" "startDatePicker")
        focus-out=(action "hideCalendar" "startDatePicker")
        value=selectedStartDateFormatted
        readonly=true
        id="startDate"
      }}
      {{#if startDatePicker}}
        {{ember-kalendae
          onDidChange=(action "onStartDateDidChange")
          selected=selectedStartDate
          class="float-calendar"
        }}
      {{/if}}
    </fieldset>

    <fieldset class="inline-child">
      <label for="endDate">End Date</label>
      {{input
        placeholder="Click to select end date"
        focus-in=(action "showCalendar" "endDatePicker")
        focus-out=(action "hideCalendar" "endDatePicker")
        value=selectedEndDateFormatted
        readonly=true
        id="endDate"
      }}
      {{#if endDatePicker}}
        {{ember-kalendae
          onDidChange=(action "onEndDateDidChange")
          selected=selectedEndDate
          class="float-calendar"
        }}
      {{/if}}
    </fieldset>
  </div>
</form>

<h3>Code Example</h3>
{{#controller-code}}
import Controller from '@ember/controller';
export default Controller.extend({
  selectedDate: new Date(), // set initial date selection to today
  actions: {
    onDidChange(date) {
      this.set('selectedDate', date); // save raw for use with Kalendae plugin
      this.set('selectedFormatted', date.format('YYYY-MM-DD')); // format for display
    }
  }
});
{{/controller-code}}
{{#template-code}}
...

\{{input value=selectedFormatted}}
\{{ember-kalendae
  onDidChange=(action "onDidChange")
  selected=selectedDate
}}

...
{{/template-code}}